{
    "overrides": [
        {
            "files": ["*.spec.ts"],
            "rules": {
                "no-unused-expressions": 0
            },
            "extends": [
                "plugin:cypress/recommended"
            ]
        }
    ]
}
